:root {
  background: black;
  font-family: "Courier New", Courier, monospace;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
}

canvas {
  padding: 100px;
  background-color: black;
}

form {
  background-color: black;
  margin: auto;
  width: 300px;
  height: 50px;
  top: 50%;
  left: 50%;
  position: fixed;
  margin-top: -50px;
  margin-left: -100px;
}

#restartlose {
  margin: auto;
  width: 100px;
  height: 50px;
  top: 520px;
  left: 570px;
  position: absolute;
}

#startgame {
  margin: auto;
  width: 100px;
  height: 50px;
  top: 50%;
  left: 50%;
  position: fixed;
  margin-left: -60px;
}

#advice {
  background-color: black;
  color: pink;
  margin: auto;
  width: 500px;
  height: 50px;
  top: 50%;
  left: 50%;
  position: fixed;
  margin-top: -100px;
  margin-left: -250px;
  text-align: center;
}
#instructions {
  color: pink;
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 500px;
  height: 50px;
  top: 50%;
  left: 50%;
  position: fixed;
  margin-top: 80px;
  margin-left: -260px;
  text-align: center;
}

h1 {
  color: pink;
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 500px;
  height: 50px;
  left: 50%;
  top: 50%;
  position: fixed;
  margin-top: -200px;
  margin-left: -220px;
}

#restart {
  color: hotpink;
  background-color: white;
  width: 100px;
  height: 50px;
  position: absolute;
  left: 1110px;
  top: 160px;
}
